.hero__content h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0px;
    margin-left: 50px;
}



/* Zmiany tylko dla mniejszych ekranów */
@media (max-width: 768px) {
    .hero__content {
        min-height: 333px !important; 
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 89vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}

@media (max-width: 768px) {
    .h2__services{
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .hero__subtitle {
        background: rgba(0, 0, 0, 0.6); /* Dodane tło dla tekstu i przycisku */
        margin-bottom: 50px;
        text-align: center;
        padding: 10px; /* Dodane wypełnienie dla tekstu i przycisku */
        margin-right: 50px;
        font-size: small;
    }

.hero__content h2 {
    background: rgba(0, 0, 0, 0.6); /* Dodane tło dla tekstu i przycisku */
   
    text-align: center;
    padding: 10px; /* Dodane wypełnienie dla tekstu i przycisku */
    margin-right: 50px;
    font-size: small;
    
}

.slider__btn {
    text-align: center;
    margin-right: 50px;
    width: 150px;
    margin-left: 300px !important;
}
}

.hero__content p{
    color: #fff !important;
    line-height: 28px;
    margin-left: 50px;
}

.row{
    margin-right: 0;
}

.special__offer{
    padding-top: 5vh;
}

.hero__container {
    position: relative;
    display: flex;
    align-items: center;
}

.slider__btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 50px;
    margin-left: 50px;
}

.hero__section p:nth-child(1){
    font-weight: 500;
}

.buy__btn{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
}

.buy__btn a:hover{
    color: #fff;
}

.hero__content{
    padding-top: 45px;
    min-height: 89vh;
}

.timer__count{
    background: var(--primary-color);
    height: 300px;
}

.timer__count img {
    width: 100%;
    height: auto;
    max-height: 70%;
    object-fit: contain;
    text-align: left;
}

@media (max-width: 768px) {
    .timer__count img {
        height: 55%;
        bottom: 80px;
        position: relative;
        left: 250px;
    }
}

.store__btn{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: #C70039;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
} 

.store__btn a:hover{
    color: #0a1d37;
} 

.homepage-car-img{
    max-height: 35vh; /* Dostosuj tę wartość do pożądanej wysokości */
    width: auto;
    
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media (max-width: 768px) {
    .homepage-car-img {
        width: 475px;
    }
}

.slick-list{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.car__item{
    background-color: #d6e5fb;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.price{
    color: #0d6efd;
    font-weight: 500;
}

.car__name{
    color: #0a1d37;
}